.dashboard-sec {
    position: relative;
    .user-detail{
        .current-time{
            padding-bottom: 10px;
            font-size: 30px;
            line-height: 20px;
        }
        .user-name{
            font-size: 25px;
        }
    }
    .user-goal-form {
        margin-top: 10px;
        display: none;
        align-items: flex-end;
        width: 35vw;

        .form-data {
            padding: 0;
            &:last-child{
                padding-left: 20px;
            }
            button{
                color: #000;
            }
        }
    }

    .add-workout-modal{
        display: none;
        .duration-set{
            display: flex;
            .duration{
                flex: 0 0 calc(100% / 3);
                &:not(:last-child){
                    padding-right: 20px;
                }
            }
        }
    }
}