@import './vars';


.dashboard-container {}

.dashboard-sec {
    .calorie-number{
        padding: 0 20px;
        background-color: $userSettings;
        color: #fff;
        border-radius: 8px;
        display: inline-block;
        line-height: 30px;
        padding-top: 2px;
    }
    // .recommended-workouts-list {
    //     padding-bottom: 110px;
    // }
    .user-detail {
        .current-time {
            padding-bottom: 10px;
            font-size: 30px;
            line-height: 20px;
        }

        .user-name {
            font-size: 25px;
        }
    }

    .user-goal-form {
        margin-top: 10px;
        display: none;
        flex-direction: column;

        .form-data {
            padding: 0;

            &:not(:last-child) {
                padding-bottom: 15px;
            }

            button {
                color: #fff;
            }
            .input-gender-group{
                display: flex;
                align-items: center;
                .grp{
                    flex: 0 0 calc(100% / 6);
                    display: flex;
                    align-items: center;
                    label{
                        padding-left: 10px;
                    }
                    input{
                        margin: 0;
                        height: 15px;
                        width: 15px;
                    }
                }
            }
            .input-group-2{
                display: flex;
                align-items: center;
                justify-content: space-between;
                >*{
                    flex: 1 0 calc(100% / 3);
                    &:not(:last-child){
                        margin-right: 15px;
                    }
                }
            }
            .input-group {
                display: flex;
                align-items: center;

                >* {
                    flex: 0 0 calc(100% / 4);
                }

                .input-container {
                    flex: 1;
                    padding-right: 30px;
                }
            }
        }
    }

    

    .recommended-workouts {
        display: none;
    }

    
    .rec-breakfast-list-modal{
        .meal-list{
            .meal-item{
                .img-container{
                    flex: 0 0 100px;
                    height: 100px;
                }
                .meal-name{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
    .rec-meal-detail-modal{
        .meal-detail{
            .meal-img{
                height: 300px;
                width: 300px;
            }
        }
    }
   
}

.recipe-search-form{
    .form-data{
        flex-direction: column;
        position: relative;
    }
}


@media screen and (max-width: 620px) {
    .dashboard-sec{
        .user-goal-form{
            .form-data{
                .input-gender-group{
                    .grp{
                        flex: 0 0 calc(100% / 2);
                    }
                }
            }
        }
    }
}