.dashboard-container{
}
.dashboard-sec {

    .user-detail{
        .current-time{
            padding-bottom: 10px;
            font-size: 30px;
            line-height: 20px;
        }
        .user-name{
            font-size: 25px;
        }
    }
    .user-goal-form {
        margin-top: 10px;
        display: none;
        flex-direction: column;

        .form-data {
            padding: 0;
            
            &:not(:last-child){
                padding-bottom: 15px;
            }
            button{
                color: #fff;
            }
            .input-group{
                display: flex;
                align-items: center;
                >*{
                    flex: 0 0 calc(100% / 4);
                }
                .input-container{
                    flex: 1;
                    padding-right: 30px;
                }
            }
        }
    }

    .add-workout-modal{
        flex-direction: column;
        button{
            color: #fff;
        }
        .exercise-container{
            overflow: auto;
            padding-bottom: 20px;
        }
        .duration-set,.exercise-block{
            display: flex;
            align-items: center;
            .duration{
                flex: 0 0 calc(100% / 3);
                &:not(:last-child){
                    padding-right: 20px;
                }
            }
        }
        .exercise-block{
            &:not(:last-child){
                padding-bottom: 10px;
            }
            .block{
                flex: 1 0 calc(100% / 4);
                &:not(:last-child){
                    padding-right: 20px;
                }
            }
        }
        .add-exercise{
            margin-top: 10px;
        }
        .del-exer-block{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background-color: #000;
            background-image: url('/frontend/assets/images/close_icon.svg');
            background-size: 40%;
            background-position: center center;
            background-repeat: no-repeat;
            object-fit: cover;
        }
    }
}