@import "./vars";

.dashboard-nav {
    position: relative;
    display: flex;
    z-index: 999;
    a {
        color: #fff;
        text-decoration: none;
    }

    .side-nav,
    .top-nav {
        top: 0;
        position: fixed;
    }

    .side-nav {
        left: 0;
        flex: 0 0 var(--sidenav-width);
        width: var(--sidenav-width);
        background: $mainColor;
        transition: all 0.3s;
        height: 100vh;
        padding-top: 5px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;

        .brand-link {
            font-size: 25px;
            color: #fff;
            padding: 20px;
        }

        .brand-exp,
        .brand-mini {
            transition: all 2s;
        }

        footer {
            margin-top: auto;

            .log-out {
                transition: all 0.3s;
                color: #fff;
                display: flex;
                width: 100%;
                background-color: $activeMainColor;
                padding: 7.5px 20px;

                .icon-container {
                    height: 25px !important;
                    width: 25px !important;
                }

                .label-text {
                    font-size: 18px;
                    padding-left: 15px;
                    transition: all 2s;
                }
            }
        }

        .nav-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            padding: 10px 0;

            .nav-list-link {
                display: flex;
                align-items: center;
                padding: 7.5px 20px;
                font-size: 18px;

                .icon-container {
                    height: 20px;
                    width: 20px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .label-text {
                    padding-left: 15px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &:hover,
                &.active {
                    background-color: $activeMainColor;
                    color: #fff;
                    border-bottom: 2px solid #fff;
                }
            }
        }

        &.mini-nav {
            header {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .nav-list {
                .nav-list-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 8px 0;
                }

                .nav-list-link {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover,
                    &.active {
                        border: 2px solid #fff;
                        outline: #fff 2px;
                    }

                    .icon-container {
                        align-items: center;
                    }

                    .label-text {
                        display: none;
                    }
                }
            }

            footer {
                display: flex;
                align-items: center;
                justify-content: center;

                .log-out {
                    border-radius: 50%;
                    transition: 0.3s all;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 50px;
                    padding: 0;

                    .label-text {
                        display: none;
                        transition: 0.3s all;
                    }
                }
            }



        }

    }

    .top-nav {
        flex: 1;
        background-color: $topNavColor;
        max-height: 74px;
        left: var(--sidenav-width);
        width: calc(100% - var(--sidenav-width));
        transition: all 0.3s;
        display: flex;
        align-items: center;
        padding: 15px 30px;

        .sidenav-toggler {
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            background: none;

            img {
                width: 100%;
                object-fit: cover;
            }
        }



        .dash-search-form {
            background-color: inherit;
            padding: 0;
            margin: 0;
            border: none;
            padding-left: 30px;
        }

        .user-actions {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-left: auto;
            width: 40%;

            .action {
                &:first-child {
                    margin-right: 100px!important;
                }
                &:not(:last-child){
                    margin-right: 10px;
                }
            }

            .action-link {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: $userSettings;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                color: #fff;

                &.create {
                    background-color: $buttonColor;
                    padding: 5px 20px;
                    width: 150px;
                    border-radius: 5px;
                    color: #fff;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .label-text {
                        font-size: 18px;
                        padding-right: 10px;
                    }

                    .drpdown-content {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        top: 120%;
                        width: 150%;
                        display: none;
                        border-radius: 5px;
                        .dp-item {
                            display: block;
                            padding: 8px 10px;
                            font-size: 22px;
                            background-color: $mainColor;
                            color: #fff;

                            &:first-child {
                                border-radius: 5px 5px 0 0;
                            }

                            &:last-child {
                                border-radius: 0 0 5px 5px;
                            }

                            &:hover {
                                background-color: $activeMainColor;
                            }
                        }
                    }

                    .show-drp {
                        display: block;
                    }

                }
            }
        }
    }
}