@import './reset';
@import "./homepage";
@import "./userprofile";
@import "./dashboard";
@import "./login";
@import "./register";
@import "./header";
@import "./dashboardNav";
@import "./workouts";
@import "./vars";
@import "./fonts";

:root {
    --sidenav-width: 250px;
}



body{
    position: relative;
    width: 100%;
}


.ft-lucida {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ft-poppins {
    font-family: 'Poppins';
}

.ft-source {
    font-family: 'Source-Sans-Pro';
}

.icon-container {
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.icon-container-md {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.container {
    max-width: 1180px;
}

.mx-auto {
    margin: 0 auto;
}

.content {
    max-width: 1180px;
    margin-top: 110px;
    margin-left: calc(var(--sidenav-width) + 50px);
    transition: 0.3s all;
}

.form-container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/frontend/assets/images/background_1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    width: 30vw;
    padding: 20px;
    border-radius: 10px;
    background-color: bisque;
    border: 1px solid #000;
}

.form-inp,
.form-select,
.form-textarea {
    font-size: 18px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}
.form-textarea{
    height: 150px;
}

label {
    font-size: 20px;
}

label,
.form-inp,
.form-select {
    display: block;
}

.form-data {
    padding-bottom: 15px;

    &:last-child {
        display: flex;
        padding-top: 20px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 0;
        justify-content: space-between;
        margin-top: auto;
    }
}

button {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    color: #000;
    cursor: pointer;
}

.submit-btn {
    background-color: dodgerblue;
}

.reset-btn {
    background-color: lightcoral;
}

.err-msg {
    color: red;
    display: none;
}

.err-field {
    border: 2px solid red;
}

.dsp-block {
    display: block!important;
}
.dsp-flex {
    display: flex!important;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    height: calc(100vh - 25%);
    overflow-y: auto;
}

.overlay{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        z-index: 998;
    }
}