@import './reset';
@import "./homepage";
@import "./userprofile";
@import "./dashboard";
@import "./login";
@import "./register";
@import "./header";
@import "./dashboardNav";
@import "./workouts";
@import "./users";
@import "./primaryNav";
@import "./vars";
@import "./fonts";


/* width */
// ::-webkit-scrollbar {
//     width: 0;
// }

/* Track */
// ::-webkit-scrollbar-track {
//     background: $mainColor;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: $activeMainColor;
// }

.text-bold {
    font-weight: bolder;
}

.border-2 {
    border: 2px solid #000 !important;
}

a {
    text-decoration: none;
    color: inherit;
}



body {
    color: $activeMainColor;
    position: relative;
}

// 
:root {
    --sidenav-width: 250px;
}

.header-text {
    font-size: 30px;
}

.header-text {
    font-size: 25px;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.underline-nm {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pl-10 {
    padding-left: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.overflow-y-auto {
    overflow-y: auto;
}

.table {
    padding: 0;
    margin: 0;
    border: 2px solid $activeMainColor;

    .tbl-row {
        display: flex;

        &:not(:last-child) {
            border-bottom: 2px solid $activeMainColor;
        }
    }

    span {
        padding: 10px 15px;
        font-size: 20px;
        width: 180px;
        max-width: 180px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:first-child {
            width: 80px;
        }

        &:not(:last-child) {
            border-right: 2px solid $activeMainColor;
        }
    }
}


body {
    position: relative;
    width: 100%;
}


.ft-lucida {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ft-poppins {
    font-family: 'Poppins';
}

.ft-source {
    font-family: 'Source-Sans-Pro';
}

.icon-container {
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.icon-container-md {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.icon-container-lg {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.img-container-100 {
    height: 100px;
    width: 100px;
    flex: 0 0 100px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.img-container-300 {
    height: 300px;
    width: 300px;
    flex: 0 0 300px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.container {
    max-width: 1180px;
}

.mx-auto {
    margin: 0 auto;
}

.content {
    max-width: 1180px;
    margin-top: 110px;
    margin-left: calc(var(--sidenav-width) + 50px);
    transition: 0.3s all;
    padding-bottom: 150px;
    padding-right: 50px;
}

.form-container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/frontend/assets/images/background_1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    width: 45vw;
    padding: 20px;

}

form,
.modal {
    border-radius: 10px;
    //background-color: $mainColor;
    background: $gradient2;
    color: #fff;
    flex-direction: column;
    overscroll-behavior-y: contain;
    overflow-y: auto;
}

.form-inp,
.form-select,
.form-textarea {
    font-size: 18px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.form-textarea {
    height: 150px;
}

label {
    font-size: 20px;
}

label,
.form-inp,
.form-select {
    display: block;
}

.form-data {
    padding-bottom: 15px;

    &:last-child {
        display: flex;
        margin-top: auto;
        margin-left: auto;

        >* {
            margin-right: 20px;
        }
    }
}

button,
.btn {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    color: #000;
    cursor: pointer;
}

// .submit-btn {
//     background-color: dodgerblue;
// }

// .reset-btn {
//     background-color: lightcoral;
// }

// .err-msg {
//     color: red;
//     display: none;
// }

// .err-field {
//     border: 2px solid red;
// }

.err-msg {
    color: #fff;
    display: none;
}

.err-field {
    border: 2px solid $errBorder
}

.dsp-block {
    display: block !important;
}

.dsp-flex {
    display: flex !important;
}

.dsp-none {
    display: none;
}

// button[type="button"],
// button[type="submit"] {
//     background-color: dodgerblue;
// }

button[data-reset="reset"] {
    background-color: $userSettings  !important;
    backdrop-filter: unset !important;
    box-shadow: unset !important;
    border-radius: 5px!important;
}

button,
.btn {
    color: #fff;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1200;
    height: calc(100vh - 15%);
    overflow-y: auto;
    width: 55vw;
    padding: 20px 50px;

    .close-btn {
        position: sticky;
        top: 0;
        padding-bottom: 15px;
        display: flex;
        justify-content: flex-end;

        .icon-container {
            cursor: pointer;
        }
    }
}

.overlay {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1000;
    }
}

.list {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;

    .list-item {
        flex: 0 0 calc(100% / 4);
        overflow: hidden;
        cursor: pointer;
        padding-right: 20px;
        padding-bottom: 12px;

        &:nth-child(4n+4) {
            padding-right: 0 !important;
        }
    }

    .inner-container {
        border-radius: 8px;
        //border: 3px solid $activeMainColor;
        padding: 8px 15px;
        position: relative;
        isolation: isolate;
        overflow: hidden;
        //color: $activeMainColor;
        color: #fff;
        background: $gradient2;

        >* {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        // &:after {
        //     content: '';
        //     position: absolute;
        //     height: 100%;
        //     width: 0;
        //     left: 0;
        //     top: 0;
        //     z-index: -1;
        //     background: $gradient2;
        // }

        // &:hover {
        //     color: #fff !important;
        //     border: transparent;
        //     outline: none;
        //     &:after {
        //         width: 100%;
        //         transition: all 0.3s;
        //     }
        // }
    }
}


.exercise-list {
    overflow: auto;
    padding-bottom: 20px;

    .exercise-item {
        padding-bottom: 15px;
        padding-top: 15px;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #fff;

        >* {
            flex: 0 0 calc(100% / 10);
            display: flex;
            justify-content: flex-end;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

}

.modal-actions {
    position: fixed;
    bottom: 0;
    height: 120px;
    margin-top: auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    button,
    .btn {
        color: #fff;
        margin-right: 10px;
        margin-left: 10px;
        //flex: 0 0 calc(100% / 3);
        margin-bottom: 10px;
    }

}

.workout-detail-modal {
    flex-direction: column;

    .modal-workout-name {
        font-size: 30px;
    }

    .modal-workout-duration {
        font-size: 22px;
        font-weight: 500;

        span {
            font-size: 20px;
            text-transform: capitalize;
        }
    }

}

.add-workout-modal {
    flex-direction: column;

    button {
        color: #fff;
    }

    .exercise-container {
        overflow: auto;
        padding-bottom: 20px;
    }

    .duration-set,
    .exercise-block {
        display: flex;
        align-items: center;

        .duration {
            flex: 0 0 calc(100% / 3);

            &:not(:last-child) {
                padding-right: 20px;
            }
        }
    }

    .exercise-block {
        &:not(:last-child) {
            padding-bottom: 10px;
        }

        .block {
            flex: 1 0 calc(100% / 4);

            &:not(:last-child) {
                padding-right: 20px;
            }
        }
    }

    .add-exercise {
        margin-top: 10px;
    }

    .del-exer-block {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #000;
        background-image: url('/frontend/assets/images/close_icon.svg');
        background-size: 40%;
        background-position: center center;
        background-repeat: no-repeat;
        object-fit: cover;
    }
}

.exercise-list-table,
.user-table {
    font-size: 20px;
    overflow: auto;
    margin-top: 20px;

    .exercise-item-row,
    .user-tbl-row {
        display: flex;

        .data-col {
            padding: 8px;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.exercise-list-table {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;

    .exercise-item-row {
        .data-col {
            border-bottom: 2px solid #fff;
            flex: 0 0 calc(100% / 3);

            &:not(:last-child) {
                border-right: 2px solid #fff;
            }
        }
    }
}

.user-table {
    border-top: 2px solid $activeMainColor;
    border-left: 2px solid $activeMainColor;
    border-right: 2px solid $activeMainColor;

    .user-tbl-row {
        .data-col {
            border-bottom: 2px solid $activeMainColor;
            flex: 0 0 calc(100% / 4);

            &:first-child {
                flex: 0 0 100px;
            }

            &:not(:last-child) {
                border-right: 2px solid $activeMainColor;
            }
        }
    }
}

.meal-list {
    margin: 0 !important;
    font-size: 22px;
    padding: 15px 0 80px 25px;

    .meal-item {
        .meal-link {
            text-decoration: underline;

            .meal-name {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

.rec-breakfast-list-modal,
.rec-meal-detail-modal {
    .close-btn {
        display: flex;
        justify-content: flex-end;

        .icon-container {
            cursor: pointer;
        }
    }
}

.rec-meal-detail-modal {
    .meal-detail {

        .meal-calories,
        .meal-type {
            padding-left: 10px;
            line-height: 30px;
        }
    }
}

.get-exercises-list {
    overflow-y: scroll;
    height: 50%;
    display: none;

    .exercise-item {
        .inner-container {
            border: 2px solid #fff;
        }
    }
}

@media screen and (max-width: 1350px) {
    .list {
        .list-item {
            flex: 0 0 calc(100% / 3);

            &:nth-child(3n+3) {
                padding-right: 0;
            }

            &:nth-child(4n+4) {
                padding-right: 20px !important;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .content {
        padding: 0 30px;
    }

    .container {
        width: 70%;
        padding: 0 20px;
    }

    .modal,
    form {
        width: 90%;
    }

    .list {
        .list-item {
            flex: 0 0 calc(100% / 2);
            padding-right: 20px !important;

            &:nth-child(2n+2) {
                padding-right: 0 !important;
            }
        }
    }

    .exercise-list-table {
        .exercise-item-row {
            .data-col {
                flex: 1 0 200px;
            }

            &:not(:last-child) {
                .data-col {
                    &:last-child {
                        border-bottom: 2px solid #fff;
                    }
                }
            }
        }
    }

    .user-table {
        .user-tbl-row {
            .data-col {

                flex: 1 0 200px;
            }

            &:not(:last-child) {
                .data-col {
                    &:last-child {
                        border-bottom: 2px solid $activeMainColor;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 998px) {
    .content {
        margin-left: 0;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .modal {
        padding: 25px;
    }

    .list {
        padding-right: 0;

        .list-item {
            &:nth-child(2n + 2) {
                padding-right: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 620px) {
    form {
        width: 100%;
    }

    .modal-actions {
        position: unset;
        height: unset;
    }

    .header-text {
        font-size: 22px;
    }

    .header-text-sm {
        font-size: 18px;
    }

    .top-nav {
        padding: 15px;
    }

    .content {
        padding: 0 15px;
    }

    .list {
        .list-item {
            flex: 1 0 100%;
            padding-right: 0 !important;
        }
    }

    .form-data {

        &:last-child {
            margin-left: unset;
            flex-direction: column;
            align-items: center;

            >* {
                margin-bottom: 20px;
                width: 100%;
                margin-right: 0;
            }
        }
    }

    .modal-actions {
        margin: 0 auto;

        button {
            flex: 0 0 100%;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .add-workout-modal,
    .edit-workout-modal {

        .duration-set,
        .exercise-block {
            flex-direction: column;
            align-items: unset;

            .duration,
            .block {
                flex: 0 0 100%;
                padding-right: 0 !important;

                &:not(:last-child) {
                    padding-bottom: 20px;
                }
            }
        }
    }

    .workout-detail-modal {
        .modal-workout-name {
            font-size: 22px;
        }
    }

    .meal-list {
        font-size: 18px;
    }

    .rec-meal-detail-modal {
        .meal-detail {
            display: flex;
            flex-direction: column;

            .meal-img {
                align-self: center;
            }
        }
    }
}